
    <header>

    </header>

<main>
    <div class="row justify-content-center align-items-center vh-100 vw-100 ">

<section class="col-6"> 
<h1>
    School Management Sysytem

</h1>
<p class="text-justify">
    Introducing our Student Management System website, designed to revolutionize the way educational institutions handle student, course, and teacher records. Say goodbye to manual processes and time-consuming record fetching. With our platform, administrators can effortlessly manage teachers and classes, while teachers can add and edit student details. Students can also enjoy the convenience of online fee payment. Join us for efficient student management!
<br>
ADMIN SIDE FUNCTIONALITIES:<br>
- Admin Login and Registration: Securely log in and register as an administrator to access the system.<br>
- View Teachers: Easily view and browse through the list of teachers associated with your institution.<br>
- View Classes: Get an overview of the different classes offered in your institution.<br>
- Add Class: Add new classes to the system for efficient organization and management.<br>
- Add Teacher: Add new teachers to the system and assign them to respective classes.<br>
- Edit Teacher and Class: Update teacher and class details as required for accurate record-keeping.<br><br>
TEACHER SIDE FUNCTIONALITIES:<br>
- Teacher Login: Teachers can securely log in to their personalized accounts.<br>
- Add New Students: Teachers can easily add new students to their assigned classes.<br>
- Edit Existing Students: Update student information as needed for accurate and up-to-date records.<br>
- Filtration by Name: Conveniently filter and search for students by their names.
<br><br>
STUDENT SIDE FUNCTIONALITIES:
- Student Login: Students can log in to their individual accounts for personalized access.<br>
- Pay Fees: Students can conveniently pay their fees online, ensuring a hassle-free payment process.
<br><br>
Our Student Management System aims to enhance efficiency, improve data accuracy, and simplify administrative tasks for educational institutions. By leveraging the power of technology, we strive to provide a seamless and user-friendly experience for administrators, teachers, and students.
Experience the convenience and effectiveness of our Student Management System. Join us today and embark on a journey towards efficient student management!
</p>
<div class="row col-12 justify-content-end">

    <button (click)="start()" class="btn btn-primary form-control"> Start</button>
</div>

</section>
<div class="col-4 p-0">
    <div class="p-5">

        <img src="assets/images/land.png" class="img-fluid "  alt="" srcset="">
    </div>
</div>

    </div>
</main>