<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>
	<section class="login">
		<div class="d-flex gap-4 justify-content-center">
            <p class=""> <a routerLink="/auth/student"><span class="reg text-light">Studnet Login</span></a></p> 
            <p class=""> <a routerLink="/admin"><span class="reg text-light">Admin Login</span></a></p> 
            <p class=""> <a routerLink="/auth/teacher"><span class="reg text-light">Teacher Login</span></a></p> 

</div>
		<div class="login_box">
			<div class="left">
				<!-- <div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div> -->
				<div class="contact">
					<form action="" [formGroup]="formGroup">

						<h3>SIGN IN</h3>
						<input class="input mt-5 "  formControlName="email" type="text" name="email" id="login_email" placeholder="email address"> 
						<p [ngStyle]="{color:'red'}" *ngIf=" f.email.errors?.['pattern'] && f.email?.touched"> enter valid email</p>
						<br>
						<input class="input mt-2" formControlName="pswd"  type="password" name="password" id="login_pswd" placeholder="Password">
						<p [ngStyle]="{color:'red'}" *ngIf=" f.pswd.errors?.['required'] && f.pswd?.touched"> this field must not be empty</p>
		 <button class="submit" (click)="login()">LET'S GO</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h2>Hey Teacher</h2>
					<h5>Lets Take a Lesson</h5>
				</div>
				<!-- <div class="right-inductor"><img src="https://lh3.googleusercontent.com/fife/ABSRlIoGiXn2r0SBm7bjFHea6iCUOyY0N2SrvhNUT-orJfyGNRSMO2vfqar3R-xs5Z4xbeqYwrEMq2FXKGXm-l_H6QAlwCBk9uceKBfG-FjacfftM0WM_aoUC_oxRSXXYspQE3tCMHGvMBlb2K1NAdU6qWv3VAQAPdCo8VwTgdnyWv08CmeZ8hX_6Ty8FzetXYKnfXb0CTEFQOVF4p3R58LksVUd73FU6564OsrJt918LPEwqIPAPQ4dMgiH73sgLXnDndUDCdLSDHMSirr4uUaqbiWQq-X1SNdkh-3jzjhW4keeNt1TgQHSrzW3maYO3ryueQzYoMEhts8MP8HH5gs2NkCar9cr_guunglU7Zqaede4cLFhsCZWBLVHY4cKHgk8SzfH_0Rn3St2AQen9MaiT38L5QXsaq6zFMuGiT8M2Md50eS0JdRTdlWLJApbgAUqI3zltUXce-MaCrDtp_UiI6x3IR4fEZiCo0XDyoAesFjXZg9cIuSsLTiKkSAGzzledJU3crgSHjAIycQN2PH2_dBIa3ibAJLphqq6zLh0qiQn_dHh83ru2y7MgxRU85ithgjdIk3PgplREbW9_PLv5j9juYc1WXFNW9ML80UlTaC9D2rP3i80zESJJY56faKsA5GVCIFiUtc3EewSM_C0bkJSMiobIWiXFz7pMcadgZlweUdjBcjvaepHBe8wou0ZtDM9TKom0hs_nx_AKy0dnXGNWI1qftTjAg=w1920-h979-ft" alt=""></div> -->
			</div>
		</div>
	</section>
</body>
