
<!-- dark -->
<app-teachernav  ></app-teachernav>

<div class="container-fluid pt-3">
    <div>

       
        <div>
            <h3 class="text-dark fs-5 ps-3">   <i class="fa fa-user " aria-hidden="true">  </i> <a (click)=" reload()">Teacher</a></h3>

            
            <div class="container-fluid  mt-5">
    
            <div class="d-sm-flex justify-content-between">
    <div class="d-flex gap-5">
    
        <a (click)="list()"> Class View</a>
       
        <a (click)="openModal() " > New Student</a>
    </div>
 
    
    
    
            </div>
  
 
    <app-student-list [item]="students"   #studentlist [listStatus]="listStatus" [total]="totalRecords" ></app-student-list>
    </div>
    </div>
    <div class="vh-100" *ngIf="start">
      <div class="container">
        <div class="container__item landing-page-container">
            <div class="content__wrapper">

                <header class="header">
                  

                    <h1 class="heading header__item"> {{self}} </h1>

             
                </header>

                <p class="coords">N 49° 16' 35.173"  /  W 0° 42' 11.30"</p>

                <div class="ellipses-container">

                    <h2 class="greeting">{{class}}</h2>

                    <div class="ellipses ellipses__outer--thin">

                        <div class="ellipses ellipses__orbit"></div>

                    </div>

                    <div class="ellipses ellipses__outer--thick"></div>
                </div>

                <div class="scroller">
                    <p class="page-title">home</p>

                    <div class="timeline">
                        <span class="timeline__unit"></span>
                        <span class="timeline__unit timeline__unit--active"></span>
                        <span class="timeline__unit"></span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    </div>
    <mat-sidenav class="h-100 size1 bg-light"  position="end" #sidenav (keydown.escape)="close('escape')" disableClose>
        
       
        <form class="p-3"  [formGroup]="formGroup" *ngIf="viewStatus">
          
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">firstname</label>
                   
                    <input type="text" class="form-control" id="firstname" formControlName="firstname"  type="text" name="firstname" readonly >
                    <!-- <p [ngStyle]="{color:'red'}" *ngIf=" f.firstname.errors?.['required'] && f.firstname?.touched"> this field must not be empty</p> -->
              
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">lastname</label>
                      
                      <input type="text" class="form-control" id="lastname" formControlName="lastname"  type="text" name="lastname"  readonly >
                      <!-- <p [ngStyle]="{color:'red'}" *ngIf=" f.lastname.errors?.['required'] && f.lastname?.touched"> this field must not be empty</p> -->
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                  
                      <input type="email" class="form-control" id="email"  formControlName="email"  type="text" name="email" aria-describedby="emailHelp" readonly>
                      <!-- <p [ngStyle]="{color:'red'}" *ngIf=" f.email.errors?.['pattern'] && f.email?.touched"> enter valid email</p> -->
    
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">password</label>
                  
                      <input type="password" class="form-control" id="password"  formControlName="password"  type="text" name="password" aria-describedby="passwordHelp" readonly>
                      <!-- <p [ngStyle]="{color:'red'}" *ngIf=" f.password.errors?.['pattern'] && f.password?.touched"> enter valid email</p> -->
    
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Course</label>
                  
                      <input type="Course" class="form-control" id="Course" [value]="course"  type="text" name="Course" aria-describedby="passwordHelp" readonly>
                      <!-- <p [ngStyle]="{color:'red'}" *ngIf=" f.password.errors?.['pattern'] && f.password?.touched"> enter valid email</p> -->
    
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"> address</label>
                    <textarea  class="form-control" id="address"  formControlName="address"  type="text" name="address" aria-describedby="addressHelp" name="" id="" cols="5" rows="5" readonly></textarea>
                  
      
                      </div>
              
            <div class="d-flex justify-content-between">

              <button type="submit" class="btn btn-dark "  (click)="close('toggle button') " (click)="delete()">Delete</button>
              <button type="submit" class="btn btn-dark "  (click)="close('toggle button')">Close</button>
            </div>
              </form>

              <form class="p-3"  [formGroup]="formGroup" *ngIf="uptdStatus">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">firstname  <span class="text-dark"> *</span></label>
                 
                  <input type="text" class="form-control" id="firsttname" formControlName="firstname"  type="text" name="firstname" >
                  <p [ngStyle]="{color:'red'}" *ngIf=" f.firstname.errors?.['required'] && f.firstname?.touched"> this field must not be empty</p>
            
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">lastname  <span class="text-dark"> *</span></label>
                    
                    <input type="text" class="form-control" id="lastnamee" formControlName="lastname"  type="text" name="lastname" >
                    <p [ngStyle]="{color:'red'}" *ngIf=" f.lastname.errors?.['required'] && f.lastname?.touched"> this field must not be empty</p>
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address  <span class="text-dark"> *</span></label>
                
                    <input type="email" class="form-control" id="email"  formControlName="email"  type="text" name="email" aria-describedby="emailHelp">
                    <p [ngStyle]="{color:'red'}" *ngIf=" f.email.errors?.['pattern'] && f.email?.touched"> enter valid email</p>
  
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">password</label>
                
                    <input type="password" class="form-control" id="password"  formControlName="password"  type="text" name="password" aria-describedby="passwordHelp">
                    <p [ngStyle]="{color:'red'}" *ngIf=" f.password.errors?.['pattern'] && f.password?.touched"> enter valid email</p>
  
                  </div>
                  <mat-form-field appearance="fill">
                    <mat-label>Class</mat-label>
                    <mat-select [(ngModel)]="SelectedCourse" name="food"  [ngModelOptions]="{standalone: true}">

                      <mat-option *ngFor="let i of coursers" [value]="i.className">
                        {{i.className}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
  <!-- <p> Selected food: {{SelectedCourse}} </p> -->
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"> address</label>
                  <textarea  class="form-control" id="address"  formControlName="address"  type="text" name="address" aria-describedby="addressHelp" name="" id="" cols="5" rows="5"></textarea>
                
    
                    </div>
            
          <div class="d-flex justify-content-between">

            <button type="submit" class="btn btn-dark "  (click)="close('toggle button')" (click)="update()">Update</button>
            <button type="submit" class="btn btn-dark "  (click)="close('toggle button')">Close</button>
          </div>
            </form>
        </mat-sidenav>
        
        
            <!-- <p><button mat-button >Open</button></p>
            <p>Closed due to: {{reason}}</p> -->
  
    
</div>
  

</div>



