<!-- Primary -->
<div class=" bg-dark">
<div class=" d-flex justify-content-end ">
  
</div>
  <h1 class="text-focus-in text-center text-warning">welcome {{username}}</h1>
  <li class="nav-item">
    <a class="nav-link text-white" (click)="logout()">logout</a>
  </li>
<div class="vh-100 d-flex align-items-center  justify-content-center ">
    <div>

 
<div class="d-flex flex-column pb-5 flex-md-row justify-content-md-around justify-content-center gap-3 mx-4  align-items-center" [ngClass]="acno?'hidden':' '" style="margin-bottom: 152px !important;">
   
 
  <div class="d-flex align-items-center ">
  
<div class="card p-5 ">
    <!-- <ng-credit-card [name]="name" [number]="number" [cvc]="cvc" [expiry]="expiry"></ng-credit-card> -->

    <!-- <div class="section ">
        <input class="modal-btn modal-btn1 " type="checkbox" id="modal-btn1" name="modal-btn1"/>
        <label for="modal-btn1">Deposit <i class="uil uil-expand-arrows"></i></label> 		
        <div class="modal">		
            <div class="modal-wrap modal-wrap1">	
                <div class="container pt-2">
                    <h1 class="text-center" id="deposit"> Deposit</h1>
                                    <form action="" class="pt-3 px-3" [formGroup]="form">
                                        <label for="dpt_uname">Account no:</label>
                                        <input type="text" class="form form-control mb-2"name="dpt_uname" formControlName="acno"  autocomplete="off" id="dpt_uname">
                                        <p [ngStyle]="{color:'red'}" *ngIf=" f.acno.errors?.['pattern'] && f.acno?.touched"> acno num must be number </p>

                                        <label for="dpt_pswd">Password</label>
                                        <input type="password" class="form form-control input-group mb-2" formControlName="pswd"  autocomplete="off" name="dpt_pswd" id="dpt_pswd">
                                        <label for="dpt_pswd">Amount</label>
                                        <input type="text" class="form form-control input-group"  formControlName="amnt"  autocomplete="off" name="dpt_amt" id="dpt_amt">
                                        <p [ngStyle]="{color:'red'}" *ngIf=" f.amnt.errors?.['pattern'] && f.acno?.touched"> amount must be number </p>

                                        <!-- <img src="https://assets.codepen.io/1462889/sl3.jpg" alt="">	 -->
                                    <!-- <button class="btn btn-success mt-2 form-control" (click)="deposit()">Confirm</button>         		
                                    </form>
                                </div> </div>			          		
        </div>	
    </div>
  </div></div>
  <div  class="d-flex align-items-center ">
  <div class="card  p-5"> --> -->
    
  <div class="section ">
      <input class="modal-btn modal-btn2" type="checkbox" id="modal-btn2" name="modal-btn2"/>
      <label for="modal-btn2" m>Pay fees <i class="uil uil-expand-arrows"></i></label> 		
      <div class="modal">		
          <div class="modal-wrap modal-wrap2  bg-dark">	
            <div class="p-5">

                <app-card [name]="name" [number]="number" [dis]="cvdis" [cvc]="cvc" [expiry]="expiry"></app-card>
                <div class="bg-light-50 p-3">
                  
                    <input type="text" class="form-control mb-2" name="" id=""  placeholder="Amount" [(ngModel)]="amnt"  required>
                    <input type="text" class="form-control mb-2" name="" id="" (focus) ="cvback()"  placeholder="CARD Name" [(ngModel)]="name" required>
                    <input type="text" class="form-control mb-2" name="" (focus)="cvback()"  id="" placeholder=" CARD NUMBER" [(ngModel)]="number" required>
<input type="text" class="form-control  mb-2" name="" id="" placeholder="CVC" (focus)="cvba()"  [(ngModel)]="cvc" required>
<input type="text" class="form-control" name="" id="" placeholder="Expiry" (focus)="cvback()"  [(ngModel)]="expiry" required>
<button class="btn btn-primary form-control text-dark " (click)=" withdraw()"> Pay </button>
<label for="" class="text-white">{{number}}</label>

                   
                </div>
            </div>

            </div>			          		
      </div>	

</div>
        </div>
        
  </div></div>
  
  <div class=" ">
    <div class="container-fluid "> <div class="ticker "> <div class="title pt-2"><h5> News</h5></div> <div class="news"> <marquee class="news-content"> <p> Fee Due :{{fee}}</p> </marquee> </div> </div> </div>
</div>
</div>	

</div>
</div>